.collection-banner {
  width: 100%;
  margin-bottom: 3rem;
}

@media screen and (max-width: 599px) {
  .collection-banner {
    margin-bottom: 2rem;
  }
}

@media screen and (min-width: 600px) and (max-width: 989px) {
  .collection-banner {
    margin-bottom: 2.5rem;
  }
}

.collection-banner__image-wrapper {
  width: 100%;
  max-height: 500px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f9f9f9;
  margin-bottom: 2rem;
}

@media screen and (max-width: 599px) {
  .collection-banner__image-wrapper {
    max-height: 300px;
    margin-bottom: 1.5rem;
  }
}

@media screen and (min-width: 600px) and (max-width: 989px) {
  .collection-banner__image-wrapper {
    max-height: 400px;
    margin-bottom: 1.75rem;
  }
}

.collection-banner__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  display: block;
}

.collection-banner__description {
  font-size: 1rem;
  line-height: 1.8;
  color: var(--color-text, #000000);
  margin: 2rem 0 0 0;
  padding-bottom: 2rem;
}

@media screen and (max-width: 599px) {
  .collection-banner__description {
    font-size: 0.95rem;
    margin: 1.5rem 0 0 0;
    padding-bottom: 1.5rem;
  }
}

@media screen and (min-width: 600px) and (max-width: 989px) {
  .collection-banner__description {
    font-size: 0.975rem;
    margin: 1.75rem 0 0 0;
    padding-bottom: 1.75rem;
  }
}

.collection-banner__description p {
  margin: 0 0 1rem 0;
}

.collection-banner__description p:last-child {
  margin-bottom: 0;
}

.collection-banner__description h1,
.collection-banner__description h2,
.collection-banner__description h3,
.collection-banner__description h4,
.collection-banner__description h5,
.collection-banner__description h6 {
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}

.collection-banner__description h1 {
  font-size: 1.75rem;
}

.collection-banner__description h2 {
  font-size: 1.5rem;
}

.collection-banner__description h3 {
  font-size: 1.25rem;
}

@media screen and (max-width: 599px) {
  .collection-banner__description h1 {
    font-size: 1.25rem;
    margin-top: 1rem;
    margin-bottom: 0.75rem;
  }

  .collection-banner__description h2 {
    font-size: 1.1rem;
    margin-top: 1rem;
    margin-bottom: 0.75rem;
  }

  .collection-banner__description h3 {
    font-size: 1rem;
    margin-top: 1rem;
    margin-bottom: 0.75rem;
  }
}

.collection-banner__description ul,
.collection-banner__description ol {
  margin: 1rem 0 1rem 2rem;
}

.collection-banner__description li {
  margin-bottom: 0.5rem;
}
